* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  /*
html default font size 16px
*/
  // font-size: 40px;
  height: 100%;
  background-color: #1a1a1a;
}
html {
  font-size: clamp(14px, 1vw, 18px);
}
.red {
  height: 500px;
  width: 500px; /* 50vw= 250px */
  background-color: red;
  .blue {
    width: 100px;
    height: 100%;
    background-color: blue;
    h3 {
      font-size: 10rem;
    }
  }
}

// main {
//   font-size: 100px;
// }
// section {
//   font-size: 4em;
// }
// h1 {
//   font-size: 1em;
//   color: white;
// }
// h2 {
//   font-size: 1em;
// }
