@font-face {
  font-family: "NeueMachina";
  src: url("https://ik.imagekit.io/sheryians/Fonts/neueMachina/NeueMachina-Ultralight_L18yrR2IlK.ttf?updatedAt=1713347905074")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: hel;
  src: url(./font/Freeroad\ Light.ttf);
}
@font-face {
  font-family: hel2;
  src: url(./font/Freeroad\ Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #101010;
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  color: rgb(239, 239, 239);
}
nav {
  background-color: #0e0e0e;
  font-family: NeueMachina;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  .nav1 {
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    gap: 1vw;
    padding: 20px 85px;
    img {
      width: 40px;
      height: 50px;
    }
  }
  .nav2 {
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    width: 60%;
    gap: 30px;
    position: sticky;
    margin-right: 65px;
    align-items: center;
    h3 {
      i {
        font-size: 20px;
        // width: 20px;
      }
    }
    img {
      width: 32px;
      border-radius: 50px;
    }
  }
  .nav3 {
    display: none;
  }
}
@media (max-width: 600px) {
  nav {
    .nav1 {
      padding: 10px 15px;
      img {
        width: 25px;
        height: 30px;
      }
      h4 {
        font-size: 13px;
      }
    }
    .nav2 {
      display: none;
    }
    .nav3 {
      display: flex;
      align-items: center;
      padding: 0px 25px;
      gap: 20px;
    }
  }
}
main {
  font-family: hel;
  font-weight: 200;
  width: 100%;
  height: 100%;
  padding: 90px 90px;
  background-color: #101010;
  .box {
    display: flex;
    justify-content: space-between;
    .left {
      width: 45%;
      h1 {
        font-family: hel2;
        font-weight: 500;
        font-size: 50px;
        line-height: 55px;
      }
      .tags {
        padding: 20px 0px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        h3 {
          font-family: hel2;
          font-size: 17px;
          font-weight: 500;
          border-radius: 5px;
          padding: 10px 25px;
          background-color: #232323;
        }
      }
      .price {
        padding: 25px 0px;
        h2 {
          font-family: hel2;
          font-size: 40px;
          #green {
            color: #00ed9a;
          }
          #gray {
            font-size: 28px;
            color: darkgray;
            // text-decoration: line-through;
          }
          #sm {
            font-size: 30px;
          }
        }
        h5 {
          color: #00ed9a;
          padding-bottom: 15px;
          font-size: 20px;
          font-family: hel2;
          // font-weight: 900;
        }
        #buy {
          padding: 20px 80px;
          background-color: #009f67ea;
          color: white;
          border: none;
          font-family: hel2;
          font-size: 28px;
          margin-right: 10px;
          border-radius: 5px;
        }
        #view {
          padding: 20px 55px;
          background-color: rgb(54, 54, 54);
          color: white;
          border: none;
          font-family: hel2;
          font-size: 28px;
          border-radius: 5px;
        }
        p {
          font-family: hel2;
          font-size: 18px;
          padding: 15px 0px;
          #limit {
            color: #00ed9a;
          }
        }
      }
    }
    .right {
      width: 47%;
      img {
        width: 100%;
      }
      .info {
        margin-top: -5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #1d1d1d;
        padding: 50px 20px 20px 20px;
        border-bottom-left-radius: 10px;
        gap: 20px;
        border-bottom-right-radius: 10px;
        .name {
          display: flex;
          gap: 5px;
          font-weight: 600;
          font-family: hel2;
          font-size: 18px;
          background-color: #151515;
          padding: 15px 20px;
          border-radius: 5px;
          width: 45%;
          #high {
            font-family: hel;
            // font-size: 15px;
            color: #00ed9a;
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  main {
    padding: 10vw 5vw;
    .box {
      // margin-top: 20px;
      flex-direction: column-reverse;
      .left {
        width: 100%;
        h1 {
          font-size: 4vw;
        }
      }
      .right {
        width: 100%;
        img {
          overflow: hidden;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  main {
    padding: 10vw 5vw;
    .box {
      // margin-top: 20px;
      flex-direction: column-reverse;
      .left {
        width: 100%;
        h1 {
          font-size: 33px;
        }
      }
      .right {
        width: 100%;
        img {
          overflow: hidden;
          margin-top: 20px;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  main {
    .box {
      .left {
        h1 {
          font-size: 6vw;
        }
      }
      .right {
        width: 100%;
        img {
          margin-top: 20px;
          overflow: hidden;
        }
        .info {
          // background-color: #1d1d1d;
          padding: 50px 20px 20px 20px;
          border-bottom-left-radius: 10px;
          gap: 20px;
          border-bottom-right-radius: 10px;
          .name {
            display: flex;
            gap: 5px;
            font-weight: 600;
            font-family: hel2;
            font-size: 18px;
            // background-color: #151515;
            padding: 15px 20px;
            border-radius: 5px;
            width: 45%;
            #high {
              font-family: hel;
              // font-size: 15px;
              color: #00ed9a;
            }
          }
        }
      }
    }
  }
}
